<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="gallery-style.css">
    <%-include('partials/jquery');%>
    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/reat-dom@16/umd/react-dom.development.js" crossorigin></script>

    <script src='gallery.js'></script>
    <script src='card_container.js'></script>
  </head>

  <body>
    <h1>Card Gallery</h1>
    
    <form>
      <p>Name</p>
      <input type="text" name="name" class='card-search-input'>
      <p>Manacost</p>
      <input type="number" name="manacost" class='card-search-input'>
      <button type="submit">Search</button>
    </form>


    <div id="card-container">
      <% for(var i=0; i<cards.length; i++) { %>
      <a href="#">
        <img src="<%=cards[i].image%>">
      </a>
      <% } %>
    </div>
  </body>
</html>
