<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="gallery-style.css">
    <%-include('partials/jquery');%>
  </head>

  <body>
    <h1>Card Gallery</h1>
    
    <form>
      <p>Name</p>
      <!--
      <input type="text" name="name">
      -->
      <p>Manacost</p>
      <input type="number" name="manacost">
      <button type="submit">Search</button>
    </form>

    <script>
      function reloadCards(data) {
        console.log(data);

        $('#card-container').empty('#');
        var cardData = data.cards;
        cardData.forEach((c)=>{
          $('#card-container').append('<img src=\"'+c.image+'\">');
        });
      }

      $(document).ready(function() {
        $('form').on('submit', function() {
          var datastring = $('form').serialize();
          $.ajax({
            type: "GET",
            url: "/hs/card",
            data: datastring,
            success: function(data) {
              console.log(data);
              history.pushState({}, '', '/hs/gallery?'+datastring);
              reloadCards(data);
            }
          });
          return false;
        });
      });
    </script>

    <div id="card-container">
      <% for(var i=0; i<cards.length; i++) { %>
      <a href="#">
        <img src="<%=cards[i].image%>">
      </a>
      <% } %>
    </div>
  </body>
</html>
