<!DOCTYPE html>
<html>
  <head>
    <title>Hearthstone Deck Builder</title>
    <link rel="stylesheet" href="hs-style.css">
  </head>

  <body>
    <h1>
      Hearthstone Deck Builder
    </h1>

  </body>
  <html>
